
@{
    ViewData["Title"] = "CheckYorInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Ckech Your Inbox :)</p>

    </div>
</div>
